.swiper-2 {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide-2 {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 30rem;
    border-radius: 5%;
  }
  
  .swiper-slide-2 img {
    display: block;
    width: 100%;
  }
  